<header class="navbar">
  <div class="navbar-brand">
    <a href="/products">PriceSentinel</a>
  </div>
  <nav class="navbar-links">
    <a href="/products">Products</a>
    <a href="/products/create">Add Product</a>
  </nav>
</header>

